.infoBox
        {
            display: none;
            position: absolute;
            width: 221px;
            height: auto;
            float: right;
        }

            .infoBox:focus
            {
                outline: 0;
            }

        .inn-b
        {
            float: right;
            padding: 20px;
            width: 210px;
            border-radius: 2px;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        }

        .marker
        {
            border: 12px solid transparent;
            border-right-width: 12px;
            right: auto;
            position: absolute;
            top: 20px;
            border-left-width: 0px;
        }

        .closeIcon
        {
            height: 20px;
            width: 20px;
            /*overflow: hidden;*/
            top: 5px;
            right: 5px;
            border: medium none;
            outline: medium none;
            cursor: pointer;
            position: absolute;
            text-indent: 6px;
            opacity: 0.4;
            font-size: small;
        }

        .errorBox
        {
            border: 1px solid rgb(255, 0, 0);
            background: none repeat scroll 0% 0% rgb(250, 220, 220);
        }

            .errorBox .innerMarker
            {
                border-right-color: rgb(250, 220, 220);
                left: 1px;
            }

            .errorBox .outerMarker
            {
                border-right-color: rgb(255, 0, 0);
                left: 0px;
            }

            .errorBox .closeIcon:hover
            {
                color: white;
                background: red;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }

        .warningBox
        {
            border: 1px solid orange;
            background: none repeat scroll 0% 0% rgb(255, 235, 195);
        }

            .warningBox .innerMarker
            {
                border-right-color: rgb(255, 235, 195);
                left: 1px;
            }

            .warningBox .outerMarker
            {
                border-right-color: orange;
                left: 0px;
            }

            .warningBox .closeIcon:hover
            {
                color: white;
                background: orange;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }

        .successBox
        {
        }

        .infoMessage
        {
            margin-right: 4px;
            font: 13px sans-serif;
            color: rgb(50, 50, 50);
        }

        .infoIcon
        {
            display: none;
            float: left;
            height: 18px;
            width: 18px;
            background-image: url("Images/icon_info.png");
            background-repeat: no-repeat;
            background-size: 16px;
            margin-top: 8px;
        }

        .successIcon
        {
            background-image: url("Images/accept1.png");
        }

        .errorIcon
        {
            background-image: url("Images/icon_error.png");
        }

        .warningIcon
        {
            background-image: url("Images/icon_warning.png");
        }


        .infoIcon:hover
        {
            background-size: 18px;
        }

        .locInput
        {
            float: left;
        }
        .locInput[readonly]
        {
            background: #CCC;
            color: #333;
            border: 1px solid #666;
        }

        .countries, .prefixes, .timespanes
        {
            height: 30px;
        }

        #locs td, #locs th
        {
            padding: 10px;
        }